* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: whitesmoke;
}

h1 {
    margin: 20px 0;
}

ul {
    display: flex;
    background: whitesmoke;
    gap: 130px;
    font-size: 40px;  
    list-style: none;

}

.box-home {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.box {
    width: 900px;          
    padding: 50px;
    background: #eee;
    border: 2px solid #333;
    border-radius: 10px;
    overflow-wrap: break-word;
    margin-top: 200px; 
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.box2 {
    margin-top: 200px;
    width: 750px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box2 button {
    width: 500px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 100px;
}